# Configuration locale
VITE_API_URL=http://localhost:3000/api
NODE_ENV=development
 
# Configuration production IONOS
# VITE_API_URL=https://api.planify.tovmassian.but24.mmi-nancy.fr/api
# NODE_ENV=production 